body {
	font-family: 'Assistant', sans-serif;
	background-color: #202020;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
}

.some-app {
	width: 800px;
	background-color: #3c3c3c;
	color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
}

canvas {
	width: 100%;
	height: 600px;
	background-color: darkgray;
	margin-top: 40px;
}

input {
	height: 30px;
	padding: 4px 8px;
}


.controls, .control-btns {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

button {
	margin: 4px 10px;
	padding: 5px 12px;
}

.control {
	display: flex;
	flex-flow: row;
	margin: 4px 10px;
	justify-content: space-between;
	align-items: center;
}

.control-label {
	margin-right: 8px;
	text-transform: uppercase;
	font-weight: bold;
}