body {
	font-family: 'Assistant', sans-serif;
	background-color: #202020;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
}

.some-app {
	width: 90vw;
	max-width: 800px;
	background-color: #3c3c3c;
	color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
}

canvas {
	width: 100%;
	height: 40vh;
	max-height: 600px;
	background-color: darkgray;
	margin-top: 40px;
}

input {
	height: 30px;
	padding: 4px 8px;
	width: 50px;
	box-sizing: border-box;
}

.controls, .control-btns {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

button {
	margin: 4px 10px;
	padding: 5px 12px;
}

.control {
	display: flex;
	flex-flow: row;
	margin: 4px 10px;
	justify-content: space-between;
	align-items: center;
}

.control-label {
	margin-right: 8px;
	text-transform: uppercase;
	font-weight: bold;
}

#color-picker {
	display: flex;
	justify-content: space-between;
	width: 90%;
	padding: 20px;
}

input[type=range] {
	padding: 0;
	width: 100px;
}

.color-box {
	width: 60px;
	height: 60px;
	border-radius: 20px;
	box-shadow: 1px 1px 1px black;
	cursor: pointer;
}

#curve-amount-control.disabled {
	cursor: default;
	color: grey;
}